@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-who-we-are-01:before {
  content: "\e900";
}

._icon-who-we-are-02:before {
  content: "\e901";
}

._icon-services-01:before {
  content: "\e902";
}

._icon-services-02:before {
  content: "\e903";
}

._icon-services-03:before {
  content: "\e904";
}

._icon-get-in-touch-01:before {
  content: "\e905";
}

._icon-get-in-touch-02:before {
  content: "\e906";
}

._icon-get-in-touch-03:before {
  content: "\e907";
}

._icon-achievements-01:before {
  content: "\e908";
}

._icon-achievements-02:before {
  content: "\e909";
}

._icon-achievements-03:before {
  content: "\e90a";
}

._icon-achievements-04:before {
  content: "\e90b";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #737373;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
  background: #FAFAFA;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  height: 3.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.9375rem;
  padding-left: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0125rem;
  color: #737373;
}

.form__input._form-error {
  border: 2px solid rgb(223, 32, 32);
  border-radius: 10px;
}

.form__input._form-error::-webkit-input-placeholder {
  font-weight: 700;
  color: red;
}

.form__input._form-error::-moz-placeholder {
  font-weight: 700;
  color: red;
}

.form__input._form-error:-ms-input-placeholder {
  font-weight: 700;
  color: red;
}

.form__input._form-error::-ms-input-placeholder {
  font-weight: 700;
  color: red;
}

.form__input._form-error::placeholder {
  font-weight: 700;
  color: red;
}

.button {
  text-align: center;
  padding: 0.9375rem 1.33125rem;
  background-color: #FF7B47;
  color: #fff;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.0125rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button_border-radius {
  border-radius: 2.3125rem;
  padding: 0.625rem 2.25rem;
}

.button_color {
  background-color: transparent;
  color: #0D5C63;
  border: 1px solid #0D5C63;
}

.button._fw {
  width: 100%;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.425;
  letter-spacing: 0.0125rem;
  color: #252B42;
}

.text {
  text-align: center;
  margin: 0 auto;
  line-height: 1.4285714286;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header._header-scroll {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: rgba(250, 250, 250, 0.9333333333);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #252B42;
  position: relative;
  z-index: 5;
}

.menu {
  padding: 0 0.625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.3125rem;
     -moz-column-gap: 1.3125rem;
          column-gap: 1.3125rem;
  row-gap: 0.625rem;
}

.menu__link {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.0125rem;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FF7B47;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.main-footer {
  background-color: #17213C;
  color: #fff;
}

.main-footer__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
}

.item-main-footer__label {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
}

.item-main-footer__label:not(:last-child) {
  margin-bottom: 1.25rem;
}

.menu-footer-main__list {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.menu-footer-main__link {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.0125rem;
  position: relative;
}

.menu-footer-main__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #8EC2F2;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.contacts-main-footer {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.contacts-main-footer_tel {
  background: url("../img/footer/01.svg") 0 0 no-repeat;
}

.contacts-main-footer_geo {
  background: url("../img/footer/02.svg") 0 0 no-repeat;
}

.contacts-main-footer_mail {
  background: url("../img/footer/03.svg") 0 0 no-repeat;
}

.contacts-main-footer__item {
  padding-left: 2.125rem;
  min-height: 1.875rem;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 0.9375rem;
}

.bottom-footer__text {
  font-weight: 600;
  line-height: 1.7142857143;
  padding-right: 1.25rem;
}

.bottom-footer__social {
  margin-right: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.bottom-footer__link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main {
  position: relative;
}

.main__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main__container {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
}

.main__title {
  font-weight: 800;
  line-height: 1.3793103448;
  letter-spacing: 0.0125rem;
  color: #252B42;
  max-width: 31.875rem;
}

.main__text {
  max-width: 23.4375rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.services {
  position: relative;
  z-index: 2;
  padding-top: 2.5rem;
}

.services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 1.875rem;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  background-color: #fff;
  padding: 2.1875rem 2.5rem;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-services__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #0D5C63;
  font-size: 3rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-services__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  color: #252B42;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-services__text {
  line-height: 1.4285714286;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.achievements__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.achievements__text {
  max-width: 31.875rem;
}

.achievements__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.375rem, 1fr));
  gap: 1.875rem;
}

.achievements__item {
  padding: 1.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(3rem, auto) 0.625rem auto 0.625rem 1fr;
  -ms-grid-columns: 1fr;
      grid-template: minmax(3rem, auto) auto 1fr/1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  background-color: #fff;
}

.item-achievements__text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
}

.advice__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.advice__text {
  max-width: 29.375rem;
}

.advice__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.375rem, 1fr));
}

.advice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  background-color: #fff;
}

.item-advice__body {
  padding: 1.875rem;
  padding-bottom: 0;
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-grid-rows: auto 0.9375rem 1fr;
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr/1fr;
}

.item-advice__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
  color: #252B42;
}

.item-advice__image-ibg {
  padding-bottom: 57.5%;
}

.who-we-are {
  background-color: #fff;
}

.who-we-are__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.who-we-are__text {
  max-width: 31.875rem;
}

.who-we-are__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-who-we-are__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.1428571429%;
          flex: 0 0 57.1428571429%;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 42.0952380952%;
}

.body-who-we-are__video video,
.body-who-we-are__video iframe,
.body-who-we-are__video object,
.body-who-we-are__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.body-who-we-are__title {
  text-align: left;
}

.body-who-we-are__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.body-who-we-are__text {
  text-align: left;
}

.body-who-we-are__items {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

.item-body-who-we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.item-body-who-we-are__content {
  display: -ms-grid;
  display: grid;
  gap: 0.3125rem;
}

.item-body-who-we-are__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
  color: #252B42;
}

.item-body-who-we-are__text {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
}

.clients__item img {
  max-width: 100%;
}

.subscribe {
  padding: 1.875rem 0;
  position: relative;
}

.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4.8125rem;
  bottom: 0;
  left: 0;
  background-color: #252B42;
}

.subscribe__container {
  position: relative;
  z-index: 2;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #17213C;
}

.subscribe__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.00625rem;
  color: #FFFFFF;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form__button {
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
}

.get-in-touch__text {
  max-width: 29.375rem;
}

.get-in-touch__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 24.5625rem;
}

.get-in-touch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  min-height: 20.8125rem;
  padding: 3.125rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-get-in-touch__icon {
  font-size: 4.5rem;
  color: #0D5C63;
}

.item-get-in-touch__contact {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.item-get-in-touch__email {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.0125rem;
  color: #252B42;
}

.item-get-in-touch__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
  color: #252B42;
}

.item-get-in-touch__button {
  border-radius: 0.3125rem;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition: -webkit-box-shadow 0.5s ease 0s;
  transition: -webkit-box-shadow 0.5s ease 0s;
  -o-transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
}

.contact {
  background-color: #fff;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__body {
  padding-right: 0.625rem;
}

.contact__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #252B42;
}

.contact__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.contact__text {
  line-height: 1.4285714286;
  letter-spacing: 0.0125rem;
}

.contact__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0.9375rem 2.5rem;
  margin-right: 0.96875rem;
  white-space: nowrap;
}

@media (min-width: 29.99875em) {
  .main-footer__item:last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (min-width: 47.99875em) {
  .subscribe__title {
    max-width: 16.625rem;
  }
}

@media (min-width: 65.625em) {
  .header__container {
    gap: 8.25rem;
  }

  .body-who-we-are__content {
    padding-left: 7.5rem;
  }

  .body-who-we-are__content {
    padding-top: 1.25rem;
  }

  .get-in-touch__items {
    padding-right: 2.03125rem;
  }

  .get-in-touch__items {
    padding-left: 2.03125rem;
  }
}

@media (min-width: 67.5em) {
  .header {
    padding-top: 2.25rem;
  }

  .header {
    padding-bottom: 2.25rem;
  }

  .main-footer {
    padding-top: 3.125rem;
  }

  .main-footer {
    padding-bottom: 3.125rem;
  }

  .bottom-footer {
    padding-top: 1.5625rem;
  }

  .bottom-footer {
    padding-bottom: 1.5625rem;
  }

  .main {
    padding-top: 11.25rem;
  }

  .main {
    padding-bottom: 11.9375rem;
  }

  .main__container {
    gap: 2.1875rem;
  }

  .main__title {
    font-size: 3.625rem;
  }

  .services {
    margin-top: -6.9375rem;
  }

  .services {
    padding-bottom: 7.5rem;
  }

  .achievements {
    padding-top: 2.5rem;
  }

  .achievements {
    padding-bottom: 5rem;
  }

  .achievements__title {
    font-size: 2.5rem;
  }

  .achievements__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .advice {
    padding-top: 5rem;
  }

  .advice {
    padding-bottom: 5rem;
  }

  .advice__title {
    font-size: 2.5rem;
  }

  .advice__text:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .advice__items {
    gap: 1.875rem;
  }

  .item-advice__body {
    padding-top: 1.875rem;
  }

  .who-we-are {
    padding-top: 6.25rem;
  }

  .who-we-are {
    padding-bottom: 8.5rem;
  }

  .who-we-are__title {
    font-size: 2.5rem;
  }

  .who-we-are__text:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .body-who-we-are__title {
    font-size: 2.5rem;
  }

  .body-who-we-are__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .clients {
    padding-top: 3.125rem;
  }

  .clients {
    padding-bottom: 3.125rem;
  }

  .subscribe__body {
    margin: 0 2rem;
  }

  .subscribe__body {
    padding-top: 1.875rem;
  }

  .subscribe__body {
    padding-right: 2.5rem;
  }

  .subscribe__body {
    padding-bottom: 1.875rem;
  }

  .subscribe__body {
    padding-left: 3.125rem;
  }

  .get-in-touch {
    padding-top: 5rem;
  }

  .get-in-touch {
    padding-bottom: 11.125rem;
  }

  .get-in-touch__text:not(:last-child) {
    margin-bottom: 6.875rem;
  }

  .get-in-touch__item {
    padding-top: 3.125rem;
  }

  .get-in-touch__item {
    padding-right: 2.5rem;
  }

  .get-in-touch__item {
    padding-bottom: 3.125rem;
  }

  .get-in-touch__item {
    padding-left: 2.5rem;
  }

  .contact {
    padding-top: 2.625rem;
  }

  .contact {
    padding-bottom: 2.625rem;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .main-footer {
    padding-top: 1.875rem;
  }

  .main-footer {
    padding-bottom: 1.875rem;
  }

  .bottom-footer {
    padding-top: 1.875rem;
  }

  .bottom-footer {
    padding-bottom: 1.875rem;
  }

  .main {
    padding-top: 5rem;
  }

  .main {
    padding-bottom: 3.75rem;
  }

  .main__container {
    gap: 1.25rem;
  }

  .main__title {
    font-size: 2.1875rem;
  }

  .services {
    margin-top: 0.0000000625rem;
  }

  .services {
    padding-bottom: 1.875rem;
  }

  .achievements {
    padding-top: 1.875rem;
  }

  .achievements {
    padding-bottom: 1.875rem;
  }

  .achievements__title {
    font-size: 1.875rem;
  }

  .achievements__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .advice {
    padding-top: 1.875rem;
  }

  .advice {
    padding-bottom: 1.875rem;
  }

  .advice__title {
    font-size: 1.875rem;
  }

  .advice__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .advice__items {
    gap: 1.25rem;
  }

  .item-advice__body {
    padding-top: 0.9375rem;
  }

  .who-we-are {
    padding-top: 1.875rem;
  }

  .who-we-are {
    padding-bottom: 1.875rem;
  }

  .who-we-are__title {
    font-size: 1.875rem;
  }

  .who-we-are__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .body-who-we-are__title {
    font-size: 1.875rem;
  }

  .body-who-we-are__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .clients {
    padding-top: 1.875rem;
  }

  .clients {
    padding-bottom: 1.875rem;
  }

  .subscribe__body {
    padding-top: 1.25rem;
  }

  .subscribe__body {
    padding-right: 1.25rem;
  }

  .subscribe__body {
    padding-bottom: 1.25rem;
  }

  .subscribe__body {
    padding-left: 1.25rem;
  }

  .get-in-touch {
    padding-top: 1.875rem;
  }

  .get-in-touch {
    padding-bottom: 1.875rem;
  }

  .get-in-touch__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .get-in-touch__item {
    padding-top: 1.25rem;
  }

  .get-in-touch__item {
    padding-right: 0.625rem;
  }

  .get-in-touch__item {
    padding-bottom: 1.25rem;
  }

  .get-in-touch__item {
    padding-left: 0.625rem;
  }

  .contact {
    padding-top: 1.875rem;
  }

  .contact {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 67.5em) {
  .bottom-footer__social {
    margin-right: 0rem;
  }

  .contact__button {
    margin-right: 0rem;
  }
}

@media (max-width: 61.99875em) {
  .main-footer__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .get-in-touch__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 47.99875em) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .who-we-are__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .clients__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .subscribe__body {
    margin: 0 -0.9375rem;
  }

  .subscribe__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #8EC2F2;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #8EC2F2;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .menu__link {
    font-size: 2.5rem;
    line-height: 1.6;
    color: #fff;
    font-weight: 500;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-footer__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .bottom-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottom-footer__social {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__button {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

@media (min-width: 20em) and (max-width: 67.5em) {
@supports (padding-top: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.25rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.25rem )) {
    .header {
      padding-top: calc(1.25rem + 1 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.25rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.25rem )) {
    .header {
      padding-bottom: calc(1.25rem + 1 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
    .main-footer {
      padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
    .main-footer {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
    .main-footer {
      padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
    .main-footer {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.5625rem , 2.0065789474rem  +  -0.6578947368vw , 1.875rem )) {
    .bottom-footer {
      padding-top: clamp( 1.5625rem , 2.0065789474rem  +  -0.6578947368vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 2.0065789474rem  +  -0.6578947368vw , 1.875rem )) {
    .bottom-footer {
      padding-top: calc(1.875rem + -0.3125 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 2.0065789474rem  +  -0.6578947368vw , 1.875rem )) {
    .bottom-footer {
      padding-bottom: clamp( 1.5625rem , 2.0065789474rem  +  -0.6578947368vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 2.0065789474rem  +  -0.6578947368vw , 1.875rem )) {
    .bottom-footer {
      padding-bottom: calc(1.875rem + -0.3125 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 5rem , 2.3684210526rem  +  13.1578947368vw , 11.25rem )) {
    .main {
      padding-top: clamp( 5rem , 2.3684210526rem  +  13.1578947368vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 5rem , 2.3684210526rem  +  13.1578947368vw , 11.25rem )) {
    .main {
      padding-top: calc(5rem + 6.25 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.3026315789rem  +  17.2368421053vw , 11.9375rem )) {
    .main {
      padding-bottom: clamp( 3.75rem , 0.3026315789rem  +  17.2368421053vw , 11.9375rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.3026315789rem  +  17.2368421053vw , 11.9375rem )) {
    .main {
      padding-bottom: calc(3.75rem + 8.1875 * (100vw - 20rem) / 47.5);
    }
}

@supports (gap: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem )) {
    .main__container {
      gap: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8552631579rem  +  1.9736842105vw , 2.1875rem )) {
    .main__container {
      gap: calc(1.25rem + 0.9375 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.5822368421rem  +  3.0263157895vw , 3.625rem )) {
    .main__title {
      font-size: clamp( 2.1875rem , 1.5822368421rem  +  3.0263157895vw , 3.625rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.5822368421rem  +  3.0263157895vw , 3.625rem )) {
    .main__title {
      font-size: calc(2.1875rem + 1.4375 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-top: clamp( -6.9375rem , 2.9210527204rem  +  -14.6052632895vw , 0.0000000625rem )) {
    .services {
      margin-top: clamp( -6.9375rem , 2.9210527204rem  +  -14.6052632895vw , 0.0000000625rem );
    }
}

@supports not (margin-top: clamp( -6.9375rem , 2.9210527204rem  +  -14.6052632895vw , 0.0000000625rem )) {
    .services {
      margin-top: calc(0.0000000625rem + -6.9375000625 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem )) {
    .services {
      padding-bottom: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.4934210526rem  +  11.8421052632vw , 7.5rem )) {
    .services {
      padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .achievements {
      padding-top: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .achievements {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
    .achievements {
      padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
    .achievements {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .achievements__title {
      font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .achievements__title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .achievements__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .achievements__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
    .advice {
      padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
    .advice {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
    .advice {
      padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
    .advice {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .advice__title {
      font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .advice__title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5921052632rem  +  3.2894736842vw , 2.8125rem )) {
    .advice__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.5921052632rem  +  3.2894736842vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5921052632rem  +  3.2894736842vw , 2.8125rem )) {
    .advice__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 47.5);
    }
}

@supports (gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
    .advice__items {
      gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
    .advice__items {
      gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem )) {
    .item-advice__body {
      padding-top: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem )) {
    .item-advice__body {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem )) {
    .who-we-are {
      padding-top: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.0328947368rem  +  9.2105263158vw , 6.25rem )) {
    .who-we-are {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.9144736842rem  +  13.9473684211vw , 8.5rem )) {
    .who-we-are {
      padding-bottom: clamp( 1.875rem , -0.9144736842rem  +  13.9473684211vw , 8.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.9144736842rem  +  13.9473684211vw , 8.5rem )) {
    .who-we-are {
      padding-bottom: calc(1.875rem + 6.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .who-we-are__title {
      font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .who-we-are__title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.8552631579rem  +  10.5263157895vw , 6.25rem )) {
    .who-we-are__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.8552631579rem  +  10.5263157895vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.8552631579rem  +  10.5263157895vw , 6.25rem )) {
    .who-we-are__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 47.5);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .body-who-we-are__title {
      font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
    .body-who-we-are__title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .body-who-we-are__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .body-who-we-are__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
    .clients {
      padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
    .clients {
      padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
    .clients {
      padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
    .clients {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
    .subscribe__body {
      padding-top: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
    .subscribe__body {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 2.5rem )) {
    .subscribe__body {
      padding-right: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 2.5rem )) {
    .subscribe__body {
      padding-right: calc(1.25rem + 1.25 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
    .subscribe__body {
      padding-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
    .subscribe__body {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .subscribe__body {
      padding-left: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .subscribe__body {
      padding-left: calc(1.25rem + 1.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
    .get-in-touch {
      padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
    .get-in-touch {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -2.0197368421rem  +  19.4736842105vw , 11.125rem )) {
    .get-in-touch {
      padding-bottom: clamp( 1.875rem , -2.0197368421rem  +  19.4736842105vw , 11.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.0197368421rem  +  19.4736842105vw , 11.125rem )) {
    .get-in-touch {
      padding-bottom: calc(1.875rem + 9.25 * (100vw - 20rem) / 47.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem )) {
    .get-in-touch__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem )) {
    .get-in-touch__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 5.625 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .get-in-touch__item {
      padding-top: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .get-in-touch__item {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.1644736842rem  +  3.9473684211vw , 2.5rem )) {
    .get-in-touch__item {
      padding-right: clamp( 0.625rem , -0.1644736842rem  +  3.9473684211vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.1644736842rem  +  3.9473684211vw , 2.5rem )) {
    .get-in-touch__item {
      padding-right: calc(0.625rem + 1.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .get-in-touch__item {
      padding-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .get-in-touch__item {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.1644736842rem  +  3.9473684211vw , 2.5rem )) {
    .get-in-touch__item {
      padding-left: clamp( 0.625rem , -0.1644736842rem  +  3.9473684211vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.1644736842rem  +  3.9473684211vw , 2.5rem )) {
    .get-in-touch__item {
      padding-left: calc(0.625rem + 1.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.5592105263rem  +  1.5789473684vw , 2.625rem )) {
    .contact {
      padding-top: clamp( 1.875rem , 1.5592105263rem  +  1.5789473684vw , 2.625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.5592105263rem  +  1.5789473684vw , 2.625rem )) {
    .contact {
      padding-top: calc(1.875rem + 0.75 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5592105263rem  +  1.5789473684vw , 2.625rem )) {
    .contact {
      padding-bottom: clamp( 1.875rem , 1.5592105263rem  +  1.5789473684vw , 2.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5592105263rem  +  1.5789473684vw , 2.625rem )) {
    .contact {
      padding-bottom: calc(1.875rem + 0.75 * (100vw - 20rem) / 47.5);
    }
}
}

@media (min-width: 30em) and (max-width: 65.625em) {
@supports (gap: clamp( 1.875rem , -3.4934210526rem  +  17.8947368421vw , 8.25rem )) {
    .header__container {
      gap: clamp( 1.875rem , -3.4934210526rem  +  17.8947368421vw , 8.25rem );
    }
}

@supports not (gap: clamp( 1.875rem , -3.4934210526rem  +  17.8947368421vw , 8.25rem )) {
    .header__container {
      gap: calc(1.875rem + 6.375 * (100vw - 30rem) / 35.625);
    }
}
}

@media (max-width: 29.99875em) and (min-width: 29.9375em) {
  .menu__body {
    padding-top: 5.3125rem;
  }

  .menu__body::before {
    height: 4.0625rem;
  }
}

@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 29.9375em) {
@supports (padding-top: clamp( 4.5rem , 2.8647798742rem  +  8.1761006289vw , 5.3125rem )) {
    .menu__body {
      padding-top: clamp( 4.5rem , 2.8647798742rem  +  8.1761006289vw , 5.3125rem );
    }
}

@supports not (padding-top: clamp( 4.5rem , 2.8647798742rem  +  8.1761006289vw , 5.3125rem )) {
    .menu__body {
      padding-top: calc(4.5rem + 0.8125 * (100vw - 20rem) / 9.9375);
    }
}

@supports (height: clamp( 3.25rem , 1.6147798742rem  +  8.1761006289vw , 4.0625rem )) {
    .menu__body::before {
      height: clamp( 3.25rem , 1.6147798742rem  +  8.1761006289vw , 4.0625rem );
    }
}

@supports not (height: clamp( 3.25rem , 1.6147798742rem  +  8.1761006289vw , 4.0625rem )) {
    .menu__body::before {
      height: calc(3.25rem + 0.8125 * (100vw - 20rem) / 9.9375);
    }
}
}

@media (min-width: 48em) and (max-width: 65.625em) {
@supports (padding-left: clamp( 1.25rem , -15.7712765957rem  +  35.4609929078vw , 7.5rem )) {
    .body-who-we-are__content {
      padding-left: clamp( 1.25rem , -15.7712765957rem  +  35.4609929078vw , 7.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -15.7712765957rem  +  35.4609929078vw , 7.5rem )) {
    .body-who-we-are__content {
      padding-left: calc(1.25rem + 6.25 * (100vw - 48rem) / 17.625);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -3.4042550864rem  +  7.092198227vw , 1.25rem )) {
    .body-who-we-are__content {
      padding-top: clamp( 0.0000000625rem , -3.4042550864rem  +  7.092198227vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -3.4042550864rem  +  7.092198227vw , 1.25rem )) {
    .body-who-we-are__content {
      padding-top: calc(0.0000000625rem + 1.2499999375 * (100vw - 48rem) / 17.625);
    }
}
}

@media (min-width: 61.9375em) and (max-width: 65.625em) {
@supports (padding-right: clamp( 0.0000000625rem , -34.1181132945rem  +  55.0847440678vw , 2.03125rem )) {
    .get-in-touch__items {
      padding-right: clamp( 0.0000000625rem , -34.1181132945rem  +  55.0847440678vw , 2.03125rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -34.1181132945rem  +  55.0847440678vw , 2.03125rem )) {
    .get-in-touch__items {
      padding-right: calc(0.0000000625rem + 2.0312499375 * (100vw - 61.9375rem) / 3.6875);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -34.1181132945rem  +  55.0847440678vw , 2.03125rem )) {
    .get-in-touch__items {
      padding-left: clamp( 0.0000000625rem , -34.1181132945rem  +  55.0847440678vw , 2.03125rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -34.1181132945rem  +  55.0847440678vw , 2.03125rem )) {
    .get-in-touch__items {
      padding-left: calc(0.0000000625rem + 2.0312499375 * (100vw - 61.9375rem) / 3.6875);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #f37543;
    -webkit-box-shadow: 0 0 0.625rem #f37543;
            box-shadow: 0 0 0.625rem #f37543;
  }

  .button_color:hover {
    background-color: rgb(236, 236, 236);
    -webkit-box-shadow: 0 0 10px #0D5C63;
            box-shadow: 0 0 10px #0D5C63;
  }

  .menu__link:hover::before {
    left: 0;
    width: 100%;
  }

  .menu-footer-main__link:hover::before {
    left: 0;
    width: 100%;
  }

  .contacts-main-footer__item:hover {
    text-decoration: underline;
  }

  .bottom-footer__link:hover {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
  }

  .item-services:hover {
    background-color: #0D5C63;
  }

  .item-services:hover .item-services__icon,
  .item-services:hover .item-services__title,
  .item-services:hover .item-services__text {
    color: #fff;
  }

  .get-in-touch__item:hover {
    background-color: #252B42;
    min-height: 24.5625rem;
  }

  .get-in-touch__item:hover .item-get-in-touch__icon,
  .get-in-touch__item:hover .item-get-in-touch__email,
  .get-in-touch__item:hover .item-get-in-touch__title {
    color: #fff;
  }

  .get-in-touch__item:hover .item-get-in-touch__button {
    border: 1px solid #fff;
    background-color: inherit;
  }
}